.custom-button {
  width: 400px;
  height: 52px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 14px 120px;
  gap: 12px;
  border-radius: 16px 0 0 0;
  border: 1px solid transparent;
  border-left-width: 0;
  border-bottom-width: 0;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}
